<div class="content">
  <nav>
    <ul>
      <!-- <li><a class="link" data-target="folio" href="#folio">Folio</a></li> -->
      <li><a class="link" data-target="about" href="#about">About</a></li>
      <li><a class="link" data-target="contact" href="#contact">Contact</a></li>
    </ul>
  </nav>

  <div class="slider">
    <section name="contact" class="slide contact">
      <p>
        ~ Mail ~ <br /> <a href="mailto:arthur.jamain@gmail.com" rel="mail">arthur.jamain@gmail.com</a>
      </p>
      <p>
        ~ Other services ~ <br /> <a target="_blank" href="https://plus.google.com/u/1/106292774108277187362">Google +</a>, <a target="_blank" href="http://github.com/arthurjamain">GitHub</a> or <a target="_blank" href="http://www.linkedin.com/profile/view?id=31797404">LinkedIn</a>
      </p>
    </section>
    <section name="about" class="slide about current">
      <p class="intro">
        Hi ! I'm <em>Arthur Jamain</em>.<br>
        I write Web Applications.
      </p>
      <hr>
      <p class="info">
        Located in Paris, France. Developer @ <a target="_blank" href="http://joshfire.com">Joshfire</a>.<br />
        I like solving problems, tinkering systems, crafting interfaces and drinking good coffee.
      </p>
    </section>
    <!--
    <section name="folio" class="slide folio">
      <div class="projects">
        <div class="project">
          <div class="poster"></div>
          <h3>myZen.tv</h3>
        </div>
      </div>
    </section>
    -->
  </div>
</div>

<div class="upper">
  <h1 class="title">Arthur Jamain</h1>
</div>
<div class="upper-lateral-shadow"></div>
<div class="upper-bottom-shadow"></div>

<div class="lower">
  <h2 class="baseline">Code and Various Thoughts</h2>
</div>

<div class="lower-lateral-shadow"></div>
<div class="lower-bottom-shadow"></div>